@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);

body{
	background-color:#063;
	}
/* Regras do menu superior do jogo*/

div#ms{
	height:54px;
	width:825px;
	background-color:#fff;
	border-radius:20px;
	box-shadow:0px 2px 3px rgba(0,0,0,0.5);
	margin-top:100px;
	}
nav#menu-ms ul li{
		display:inline-block;
		margin-top:16;
	}
nav#menu-ms ul li a{
	text-decoration:none;
	font-family:'Fjalla One', sans-serif;
	font-size:16pt;
	font-weight:bolder;
	color:#CCC;
	padding:0px 30px 0px 30px;
	transition:color 0.5s;
	transition:text-shadow 0.5s;
	margin-bottom:1px;
	}
nav#menu-ms ul li a:hover{
	text-shadow:1px 1px 3px rgba(0,153,0,0.5);
	color:#449a70;
	}
figure img#icone{
		position:absolute;
		margin:-90px 0px 0px 730px;
	}
/* Regras do menu lateral do jogo*/
div#ml{
	height:auto;
	width:320px;
	background-color:#fff;
	border-radius:20px;
	box-shadow:0px 2px 3px rgba(0,0,0,0.5);
	padding-top:30px;
	margin-top:100px;
	}
figure#carregar-foto{
		width:180px;
		height:180px;
		box-shadow:1px 1px 4px #000;
		position:relative;
		margin-left:auto;
		margin-right:auto;
	}
figure#carregar-foto figcaption{
			opacity:0;
			position:absolute;
			top:0px;
			background-color:rgba(0,0,0,0.4);
			color:#FFF;
			width:181px;
			height:181px;
			padding:10px;
			box-sizing:border-box;
			transition:opacity 1s;
	}
figure#carregar-foto:hover figcaption{
			opacity:1;
	}
figure#carregar-foto figcaption a{
			text-decoration:none;
			color:#fff;
			font-weight:bold;
			font-family:Arial, Helvetica, sans-serif;
	}
nav#menu-ml{
			padding-bottom:15px;
	}
nav#menu-ml ul li{
			margin-left:30px;
			list-style:none;
			display:block;
			padding-bottom:8px;
	}
nav#menu-ml ul li a{
			color:#CCC;
			font-size:18pt;
			text-decoration:none;
			font-family:'Fjalla One', sans-serif;
			padding-bottom:20px;
			transition:color 0.5s;
			transition:text-shadow 0.5s;
	}
nav#menu-ml ul li a:hover{
			color:#449a70;
			text-shadow:1px 1px 4px rgba(0,153,0,0.5);
	}

/*Regras do Iframe*/
iframe[scrolling='no']{
			overflow: hidden;
	}
			
#superior{
			position: absolute;
			top: 0;
			left: 330px;
			height: 165px;
			width: 1020px;
			border: 0;
	}
#lateral{
			position: absolute;
			top: 0;
			left: 0;
			height: 711px;
			width: 330px;
			border: 0;
	}
#conteudo{
	position: absolute;
	top: 90px;
	left: 204px;
	border: 0;
	height: 590px;
	width: 1150px;
	}
			
				
/*Conteudo do Site*/
div#conteudo {
		height:498px;
		width:950px;
		background-color:#fff;
		border-radius:20px;
		box-shadow:0px 2px 3px rgba(0,0,0,0.5);
	}
h1{
	font-family:'Fjalla One', sans-serif;
	font-size:30pt;
	margin:30px 0px 0px 30px;
	color:rgba(204,204,204,1);
	text-shadow:0px 0px 1px #000;
	}
h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20pt;
	text-align:center;
	margin-top:5px
	}
span{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14pt;
	}
div#botao {
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	background: #009e51; /* Old browsers */
	background: -moz-linear-gradient(top,  #009e51 0%, #00522a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009e51), color-stop(100%,#00522a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #009e51 0%,#00522a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #009e51 0%,#00522a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #009e51 0%,#00522a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #009e51 0%,#00522a 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009e51', endColorstr='#00522a',GradientType=0 ); /* IE6-9 */
	font-size: 12pt;
	border: 1px solid #093;
	color: #FFF;
	box-shadow:0px 0px 10px #bfdcce;
	border-radius:12px;
}
div#botao:hover{
	background:#063;
	}
/* Mensagens*/
input.buscar{
	margin:10px 10px 10px 0px;
	width:170px;
	height:15px;
	border:1px solid #aeaeae;
	border-radius:3px;
	box-shadow:0px 0px 3px #CCC;
	color:#aeaeae;
	padding:5px;
	transition:box-shadow 1s;
	outline:none;
	}
form#mensagens input.buscar{
	margin-left:6px;
	}
input.buscar:hover{
	box-shadow:0px 0px 6px #999;
	}
form#mensagens{
	margin:60px 0px 20px 60px;
	border:2px solid #CCC;
	border-radius:10px;
	padding:10px;
	width:810px;
	height:300px
	}

form#mensagens{
	margin:20px 10px 0px 0px;
	}
textarea#areatexto{
	margin:10px 0px 0px 44px;
	border:1px solid #aeaeae;
	border-radius:3px;
	box-shadow:0px 0px 3px #CCC;
	color:#aeaeae;
	padding:8px;
	transition:box-shadow 1s;
	outline:none;
	}
textarea#areatexto:hover{
	box-shadow:0px 0px 6px #999;
	}
form#mensagens #botao{
	margin-top: 38px;
	margin-left: 45px;
	float: left;
	}
div#botao a{
	text-decoration:none;
	color:#FFF
	}
/*Marketing*/

.marketing{
	width:220px;
	height:350px;
	border:3px solid rgba(0,102,0,0.5);
	border-radius:5px;
	margin:15px 0px 0px 70px;
	float:left;
	}
.marketing p{
	margin-top:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12pt;
	text-align:center;
	}
.marketing span{
	text-align:left;
	margin:10px 0px 0px 20px
	}
.marketing #botao{
	float:right;
	margin-top:40px;
	margin-right:15px;
	}
/*Banco*/
form.banco{
	float:left;
	margin:20px 20px 0px 100px;
	border:3px solid rgba(0,102,0,0.5);
	border-radius:5px;
	padding:15px;
	}
select#seletor{
	margin:10px 10px 10px 0px;
	width:170px;
	height:28px;
	border:1px solid #aeaeae;
	border-radius:3px;
	box-shadow:0px 0px 3px #CCC;
	color:#aeaeae;
	padding:5px;
	transition:box-shadow 1s;
	outline:none;
	}
select#seletor:hover{
	box-shadow:0px 0px 6px #999;
	}
form.banco #botao{
	margin:0px 0px 10px 12px;
	float:left;
	}
form.banco p{
	margin-top:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:8pt;
	text-align:center;
	}
form.banco span{
	margin:5px;
	}
/*Ranking*/
form#ranking{
	float:right;
	margin-right:140px;
	}
form#ranking #botao{
	position: absolute;
	float:right;
	margin:-47px 0px 0px 340px;
	}
form#ranking span{
	margin-right:7px;
	}
table#lista-jogadores{
	margin:70px auto 0px auto;
	}
/*Produtos*/

form#produtos{
	width:800px;
	height:auto;
	margin:20px auto 80px auto;
	border:3px solid rgba(0,102,0,0.5);
	border-radius:5px;
	}
form#produtos #botao{
	position: absolute;
	float:right;
	margin:-39px 0px 0px 680px;
}
form#produtos span{
	margin:10px 5px 25px 40px;
}
table#lista-produtos{
	margin:70px auto 0px auto;
}
form#venda-item{
	width:800px;
	height:auto;
	margin:20px auto 50px auto;
	border:3px solid rgba(0,102,0,0.5);
	border-radius:5px;
	}
.vender{
	height:15px;
	width:50px;
	border-radius:3px;
	box-shadow:0px 0px 3px #CCC;
	color:#aeaeae;
	padding:5px;
	outline:none;
	border:1px solid #aeaeae;
	transition:box-shadow 1s;
	}
.vender:hover{
	box-shadow:0px 0px 6px #999;
	}
form#venda-item span{
	margin:10px 5px 25px 40px;
	}
form#venda-item #botao{
	position: absolute;
	float:right;
	margin:-39px 0px 0px 680px;
}
